// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

aside.sidebar {
	.social { 
	  ul {
        padding-top: 0.5em;
	  	li {
		    display: inline;
			list-style-type: none;
		}
	  }	
	  img { border:none; }
	  a   { 
	    text-decoration:none; 
	    white-space:normal;
	  }
	}
}
